body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Fondo negro */
    overflow: hidden; /* Ocultar barra de navegación */
}

.carousel-container {
    position: relative;
    height: 700px; /* Altura fija de 700px */
    width: auto; /* Ancho en proporción a la imagen */
    overflow: hidden;
    border: 2px solid #000; /* Borde negro */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper img {
    max-height: 100%;
    width: auto; /* Mantener proporciones */
    display: block;
    object-fit: contain; /* Mantener proporciones */
    transition: opacity 1s ease-in-out; /* Transición de desvanecimiento */
    opacity: 0;
    position: absolute;
}

.image-wrapper img.active {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

