body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Fondo negro */
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Cambiado a columna */
    align-items: center;
    border: 2px solid #ccc;
}

.image-wrapper {
    width: 100%;
}

.image-wrapper img {
    width: 100%;
    display: block;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
